@model Product

<form method="post">
   <div>
      <div>
         <div>
            <div>
               <h3>@Model.TshirtName</h3>
               <p> in @Model.Color</p>
            </div>
         </div>
      </div>
      <div>
         <div>
            <div>
               <div>
                  <a asp-action="Index" style="width:150px" class="btn btn-outline-primary">
                  <small>Back to home</small>
                  </a>
               </div>
            </div>
            <div>
               <div>
                  <img style="width: 48rem;" src="@Model.ImageUrl" width="100%" class="rounded" />
               </div>
               <div>
                  <span class="badge">@Model.Category.Name</span>
               </div>
               <div>
                  <h6>
                     List Price:
                     <span>
                     @Model.ListPrice.ToString("c")
                     </span>
                  </h6>
               </div>
               <div>
                  <div>
                     <div>
                        <h6>
                           Sizes: 
                           <span>@Model.Size</span>
                        </h6>
                     </div>
                  </div>
               </div>
               <div>
                  <p>@Html.Raw(Model.Description)</p>
               </div>
               <div>
                  <div>
                     <div>
                        <span id="inputGroup-sizing-default">
                        Count
                        </span>
                        <input type="number" value="1" class="fomr-control text-end"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                     </div>
                  </div>
               </div>
               <div>
                  <div>
                     <button type="submit" disabled class="btn btn-light" class="btn btn-light" >
                     Add to Cart (Comming Soon...)
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>