@model IEnumerable<Product>

<div class="row row-cols-1 row-cols-md-3 g-4">
   @foreach(var product in Model)
   {
   <div class="col">
      <div class="card h-100">
         <div class="text-center">
            <div>
               <img class="card-img-top" src="@product.ImageUrl"  />
               <div class="card-body">
                  <div>
                     <h5 lass="card-title">@product.TshirtName</h5>
                     <p class="card-text">in <b>@product.Color</b></p>
                  </div>
                  <div>
                     <p class="card-text" > Price: <span>@product.ListPrice.ToString("c")</span></p>
                  </div>
               </div>
               <div>
                  <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-outline-primary"
                     >
                  Details
                  </a>             
               </div>
               <div>
                  <a asp-action="" asp-route-productId="" class="btn btn-outline-primary"
                     >
                  Add to my T-shirts.
                  </a>             
               </div>
            </div>
         </div>
      </div>
   </div>
   }
</div>
